{% extends 'base.html' %}
{% block main %}
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{ photo_detail.name }}</h3>
				<hr>
				<p>{{ photo_detail.news }}</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="{{ photo_detail.photo.url }}" alt=""></p>
				<p><bt>Author: <a href="#">{{ author.name }}</a></bt> - <bt>Theme: <a href="#">{{ photo_detail.theme }}</a></bt> - <bt>Date: <a href="#">{{ photo_detail.time }}</a></bt></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
{% endblock main %}